/* General */

body {
    font: 16px/25px 'Droid Sans',arial,serif;

    color: #333;
    background: #fff;
}

p {
    clear: both;

    margin: 0 0 6px;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;

    color: #a32500;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto 20px;
    display: block;
}

/* Layout */

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(/images/schnit.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    -webkit-filter: blur(2px) opacity(0.75);
    -moz-filter: blur(2px) opacity(0.75);
    -o-filter: blur(2px) opacity(0.75);
    -ms-filter: blur(2px) opacity(0.75);
    filter: blur(2px) opacity(0.75);
    z-index: 1;
}

#contain {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

#main {
    color: #333;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

footer {
    font-size: 11px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.4);
}


/* Headings */

h1 {
    font-size: 35px;
    line-height: 50px;

    margin: 0;

    color: #a32500;
}


/* Content */

.description {
    clear: none;

    margin: 0;
}

ul.links {
    clear: both;
    -webkit-padding-start: 0;
    margin: 25px -15px 0 0;
    text-align: center;
}

ul.links li {
    margin: 0 15px 25px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

ul.links a {
    line-height: 1;

    padding: 10px 20px;

    text-decoration: none;

    color: #fff;
    border-radius: 4px;
    background: #eb362d;
    box-shadow: 0 5px 0 #a32500;
    border: 1px solid #a32500;

    width: auto;
}

ul.links a:active,
ul.links a:focus,
ul.links a:hover {
    background-color: #c52d00;
}


/* Footer */

footer a,
footer a:visited,
footer a:hover {
    color: #fff;
}

footer a:hover {
    border-bottom: 1px dotted #eb362d;
    color: #eb362d;
}

footer p {
    clear: none;

    margin: 0;
    padding: 0;
}


/* Small screens */

@media (max-width: 480px) {
    img {
        max-height: 280px;
    }

    ul.links {
        margin: 0;
    }

    ul.links li {
        display: block;
        margin: 0 0 25px;
    }

    ul.links a {
        display: block;
        text-align: center;
        padding: 15px;
    }
}
