/* Styled by Brendan Murty (brendanmurty.com) for SchnitMyDadSays */

/* Reset */

html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
body{font:16px/1.3em sans-serif;*font-size:small}
html{overflow-y:scroll}
a:hover,a:active{outline:none}
ul,ol{margin-left:1.8em}
ol{list-style-type:decimal}
small{font-size:85%}
strong,th{font-weight:bold}

/* General */

body{background:#fff;color:#333;font:16px/25px 'Droid Sans',arial,serif}
p{margin:0 0 6px;padding:0;clear:both}
a,a:visited{color:#A32500;text-decoration:none}
a:hover{text-decoration:underline}

/* Layout */

#contain{width:90%;max-width:400px;margin:10px auto}
header{padding:0;margin:0 0 20px;float:left;width:100%}
#main{background:#fff;color:#333;float:left;width:100%}
footer{padding:10px;margin:0;color:#333;float:left;width:100%;font-size:11px}

/* Headings */

h1,h2,h3,h4{margin:20px 0;padding:0;clear:both;color:#000;font-family:'Droid Sans',arial,serif}
h1{font-size:2em}
h2{font-size:1.5em}
h2.first{margin-top:0}
h3{font-size:1.2em}
h4{font-size:1em}
header h1{margin:0;font-size:35px;line-height:50px;color:#A32500}

/* Content */

.avatar{max-width:100%;display:block;margin:0 0 15px;padding:0}
.description{margin:0;clear:none}
ul.links{margin:25px 0 0;float:left;clear:both}
ul.links li{float:left;list-style:none outside none;margin:0 15px 25px 0}
ul.links a{color:#fff;text-decoration:none !important;padding:10px 20px;background:#A32500;border-radius:4px;line-height:25px}
ul.links a:active,ul.links a:focus,ul.links a:hover{background-color:#c52d00}

/* Footer */

footer a,footer a:visited,footer a:hover{color:#333;border-bottom:1px dotted #333}
footer a:hover{text-decoration:none}
footer p{margin:0;padding:0;clear:none}