/* General */

body {
    font: 16px/25px 'Droid Sans',arial,serif;

    color: #333;
    background: #fff;
}

p {
    clear: both;

    margin: 0 0 6px;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;

    color: #a32500;
}

a:hover {
    text-decoration: underline;
}


/* Layout */

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/chicken-schnitzel.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: fixed;

    -webkit-filter: blur(3px) opacity(0.75);
    -moz-filter: blur(3px) opacity(0.75);
    -o-filter: blur(3px) opacity(0.75);
    -ms-filter: blur(3px) opacity(0.75);
    filter: blur(3px) opacity(0.75);
    z-index: 1;
}

#contain {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

#main {
    color: #333;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

footer {
    font-size: 11px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.4);
}


/* Headings */

h1 {
    font-size: 35px;
    line-height: 50px;

    margin: 0;

    color: #a32500;
}


/* Content */

.logo {
    background: #eb362d;
    border-radius: 50%;
    color: #fff6c2;
    font-family: 'PT Serif', serif;
    font-size: 2.5em;
    line-height: 1;
    margin: 0 auto;
    padding: 1.6em 1em 1.3em;
    text-align: center;
    width: 5em;
    border: 4px solid #fff6c2;
    box-shadow: 0px 0px 1px #eb362d, -1px 0px 1px #eb362d, 1px 0px 1px #eb362d, 0px -1px 1px #eb362d, 0px 1px 1px #eb362d;
}

.logo .schnit {
    display: block;
    font-size: 1.7em;
}

.logo hr {
    border-style: outset;
    border-top: 5px solid #fff6c2;
    border-left: 5px solid transparent;
    border-bottom: 0;
    border-right: 5px solid transparent;
}

.description {
    clear: none;

    margin: 0;
}

ul.links {
    clear: both;

    margin: 25px 0 0;
}

ul.links li {
    margin: 0 15px 25px 0;
    list-style: none;
    display: inline-block;
}

ul.links a {
    line-height: 1;

    padding: 10px 20px;

    text-decoration: none;

    color: #fff;
    border-radius: 4px;
    background: #eb362d;
}

ul.links a:active,
ul.links a:focus,
ul.links a:hover {
    background-color: #c52d00;
}


/* Footer */

footer a,
footer a:visited,
footer a:hover {
    color: #fff;
}

footer a:hover {
    border-bottom: 1px dotted #eb362d;
    color: #eb362d;
}

footer p {
    clear: none;

    margin: 0;
    padding: 0;
}

